%div[project]

  %div
    %label Titre
    %span= [:en, :fr].map{|key| project.title(key)}.join(' / ')
  %div
    %label Images
    %span
      = image_tag project.image_1.url(:small)
      = image_tag project.image_2.url(:small)
  .description
    %label Description
    - [:en, :fr].each do |key|
      %div= project.description(key)

  .metadata-cont
    %label Méta-données
    = render :partial => 'metadata', :locals =>{:metadata => project.metadata}
