%div[video]
  .attr-block
    %label= t :title, :scope => [:activerecord, :attributes, :user], :default => 'title'
    %span= video.title
  .attr-block
    %label= t :description, :scope => [:activerecord, :attributes, :user], :default => 'description'
    %span= video.description
  .attr-block
    %label= t :keywords, :scope => [:activerecord, :attributes, :user], :default => 'keywords'
    %span= video.keywords
  .attr-block
    = raw youtube_embed video



